<div id="container-index">
  <div class="pelis">
    <h1 class="title">{{title}}</h1>
    <p class="title2">Welcome to {{title}}</p>
    <button><a href="/movies">Check the movies!</a></button>
  </div>
</div>